.book_window {
    height: 100hv;
    width: 100hv;
    background-color: black;
}


/*.background {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: pointer;*/
    /* указываем z-индекс для корректного наслаивания */
    /*
    z-index: 1;
}
.book_window {
    position: absolute;
    width: 350px;
    height: 495px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}
.window_wrap {
    position: relative;
}*/




/*.window_wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    z-index: 1;

.book_window {
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    width: 600px;
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    opacity: 0;
}
.book_window--active{
    visibility: visible;
}
.book_window--active .window_wrap{
    transform: scale(1);
    opacity: 1;
}
.book_window__shadow{
    position: fixed;
    border:none;
    display: block;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: opacity 0.15s ease;
    background-color: black;
}*/
/* активная подложка */
/*
.book_window__shadow--show{
    pointer-events: auto;
    opacity: 0.6;
}
.book_window__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}*/