.filter_options {
    display: grid;
    grid-template-rows: repeat(2);
}
.options {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.header {
    font-size: 1em;
    width: fit-content;
    margin-top: 1em;
    padding-left: 1.3em;
    background: none;
    border: none;
    background-image: url("./down-arrow.png");
    background-repeat: no-repeat;
    background-position: left ;
    background-size: 20px;
}
.header:hover {
    cursor: pointer;
}
.items {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    margin-top: 0.5em;

}
.find {
    width: fit-content;
    font-size: 0.8em;
    padding: 7px 30px;
    border-radius: 2em;
    margin-top: 1em;
    background-color: #FFAA4A;
}
.find:hover {
    background-color: #FFA033;
    cursor: pointer;
}