.header {
    top: 0;
    overflow: hidden;
}

.name {
    font-size: 2em;
    font-weight: 500;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    line-height: 25px;
}

.enter {
    display: flex;
    flex-direction: row;
    float: right;
}

.buton {
    text-align: center;
    
}

.button {
    text-decoration: none;
    line-height: 1.2;
    color: black;
    font-size: 1.2em;
    border-radius: 2em;
    border: none;
    margin-top: 1em;
    background-color: #ffffff;
    padding: 0 0 0 15px;
    text-decoration: #FFAA4A underline;
}

.button:hover {
    cursor: pointer;
    text-decoration:  #FFA033 underline
}