.page {
    width: fit-content;
    justify-content: center;
    text-align: center;
    margin: 7em auto;
}
.form {
    margin-top: 2em;
}
.header {
    font-size: 2em;
}
.item {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.label {
    left: 0;
}
.input {
    border-radius: 1em;
    line-height: 2;
    padding: 2px 7px;
}
.buton {
    text-align: center;
    z-index: 100;
    margin-top: 1em;
}
.button {
    width: fit-content;
    width: 100%;
    line-height: 1.7;
    font-size: 1.2em;
    padding: 7px 30px;
    border-radius: 2em;
    border: none;
    margin-top: 1em;
    background-color: #FFAA4A;
    z-index: 100;
}