.page {
    /*background-color: #FFAA4A;*/
    margin: 1% 7%;
}
.header {
    justify-content: center;
    width: 100%;
}
.main {
    
}
.filters {
    font-size: 1.1em;
    margin-bottom: 1em;
}
.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4em;
    row-gap: 2em;
}